body {
	margin: 0;
	padding: 0;
	font-family: Arial;
    background: linear-gradient(150deg, #ec7a1d, #1ABC9C, #48C9B0);

	background-image: url("https://www.lavoz.com.ar/resizer/8TnyryxJuX1HwyHZ_rGkKrhekyU=/640x427/smart/cloudfront-us-east-1.images.arcpublishing.com/grupoclarin/4I7RUOOFZJESZNKPSFV66IVL3E.jpg");
	height: 100vh;
	background-repeat:no-repeat;
	background-size: cover;
}

.Formulario{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	/* background: white; */
	border-radius: 10px;

	background: linear-gradient(0deg, #a0acaa, #ffffff);

	box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.75);

}

.Formulario h1{
	text-align: center;
	color: #1A2537;
	font-size: 40px;

}

.input-contenedor{
	text-align: center;
	margin-bottom: 5px;

}

.Contenedor{
	text-align: center;
}

.Contenedor .button{
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 300ms ease;
}

.Contenedor p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.input-contenedor p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;

}

.Contenedor [type="text"]{
	font-size: 18px;
	width: 82%;
    line-height: 0.5;
    margin-bottom: 5px;

}

.Contenedor [type="password"]{
	font-size: 18px;
	width: 82%;
    line-height: 0.5;
    margin-bottom: 5px;

}